# --- Virtual Environments ---
myenv/
venv/
env/
.venv/
bin/
include/
lib/
share/

# --- Django / Python ---
__pycache__/
*.py[cod]
*$py.class
.env
db.sqlite3
media/
static/

# --- React / Vite / Node ---
node_modules/
dist/
dist-ssr/
*.local
.eslintcache
npm-debug.log*

# --- IDEs & OS ---
.vscode/
.idea/
.DS_Store
*.swp
